


header 
		
	display block
	background #A054A2
	padding 10px 0px
	padding-top 150px

section 
	width 100%
	background #3332322
	float left
	overflow auto
	padding-top 0px



articleejm0
	float left
	background #333399
	width 15%
	border 2px solid black
	padding-top 300px

article1ejm1
	float right
	background #333399
	width 15%
	border 2px solid black
	padding-top 300px

articleejm2
	float left
	background #66CC00
	width 19.5%
	border 2px solid black
	padding-top 300px

articleejm3
	float left
	background #CCFF99
	width 15%
	border 2px solid black
	padding-top 300px


asideejm0 
	float left
	border 1px solid black
	width 50%
		background #66CC66
	padding-top 902px

asideejm1 
	float left
	border 1px solid black
	width 49.5%
		background #FFCC66
	padding-top 1205px

footer 
	position relative
	margin-top -50px
	height 40px 
	padding 5px 0px
	clear both
	background #A9A3A3
	text-align center
	color #fff

figure 
	display table margin 0 auto
